* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #0c0c0c;
}

.container_1 {
    display: flex;
    width: 100%;
    height: 15vh;
}

.serch_div {
    margin:3% 4%;
    width: 80%;
    height: 10vh;
    border: solid 3px #0f0;
    border-radius: 20px;
}

.serch_div img {
    position: relative;
    top:14%;
    left: 3%;
}

.serch_div>input[type=text] {
    margin: 0 4%;
    width: 70%;
    height: 10vh;
    border: none;
    background-color: #0c0c0c;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.serch_div>input[type=text]::placeholder {
    color: white;
    font-size: 20px;
}

.filter_div {
    margin: 4%;
    width: 20%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.time_div{
    margin: 4% 0;
    width: 100%;
    height:10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time{
    width: 50%;
    height: 10vh;
    border: solid 3px #0f0;
    border-radius:20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.container_2 {
    width: 100%;
    height: 60vh;
    background-color: #555;
    overflow: scroll;
}

.block{
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.janru {
    margin-top: 3%;
    width: 20%;
    height: 10vh;
    background-color: aqua;
    border-radius: 20px;
    background-color:#0c0c0c;
    border: solid 3px #0f0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bangumi {
    width: 70%;
    height: 15vh;
    border-radius: 20px;
    background-color:#0c0c0c;
    border: solid 3px #0f0;
    color: white;
}

.bangumi h3{
    margin:5% ;
}

.time_shousai{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.time_shousai button{
    height:5vh;
    color: white;
    background-color: #0c0c0c;
    border: none;
    font-size: 20px;
    font-weight: bold;
}