* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #0c0c0c;
    text-align: center;
    overflow: hidden;
}


.text {
    color: white;
    font-size: 150px;
    height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: #11998e;
    background: #a8ff78;
    background: linear-gradient(to right, #78ffd6, #a8ff78);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    opacity: 0;
    animation: text_animation 4s 1s linear;
}

.line_container {
    height: 5px;
    width: 100%;
    background-color: #0c0c0c;
    position: relative;
}

.line_container::after {
    content: '';
    width: 0%;
    height: 5px;
    background: #7F7FD5;
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    position: absolute;
    bottom: 0%;
    left: 50%;
    border-radius: 10px;
    /* transition: all 500ms linear; */
    animation: animation 700ms ease-in;
}

@keyframes text_animation {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0.2;
    }

    60% {
        opacity: 0.5;
    }

    80% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animation {
    0% {}

    50% {
        left: 0%;
        width: 100%;
    }

    100% {
        left: 0%;
        width: 100%;
        opacity: 0;
    }
}